
  <!-- Indicators -->

  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img class="first-slide" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="First slide">
      <div class="container">
        <div class="carousel-caption">
          <h1>My Climate Change</h1>
          <p>Add your <code>location</code>  to know what is the status of Your climate change and get insights and data visualization to take action and help our Planet NOW!</p>
          <p><a class="btn btn-lg btn-primary" href="http://getbootstrap.com/examples/carousel/#" role="button">Start</a></p>
        </div>
      </div>
    </div>

  </div>
