<div class="carousel-inner" role="listbox">
  <a name="welcome"></a>
  <div class="item active">
    <div class="container">
      <div class="carousel-caption">
        <h1>Ch-ch-ch-changes</h1>
        <p>Enter your
          <span class="group">
            <input id="location" type="text" required>
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>city here</label>
          </span>
          to see how </p>
          <label for="category-select"></label>
          <select class="form-control" id="category-select">
          </select>
          <p> has changed in <em>your</em> region!</p>
        </p>
        <p><a class="btn btn-lg btn-primary" href="#map" role="button" id="city-btn">How have we changed?</a></p>
      </div>
    </div>
  </div>
</div>
