<div class="carousel-inner" role="listbox">
  <a href="#header"></a>
  <div class="item active">
    <div class="container">
      <div class="carousel-caption">
        <h1>My Climate Change</h1>
        <p>Add your
          <span class="group">
            <input id="location" type="text" required>
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>location here</label>
          </span>
          to know what is the status of <em>your </em> climate change!
        </p>
        <p><a class="btn btn-lg btn-primary" href="#" role="button">I want to help!</a></p>
      </div>
    </div>
  </div>
</div>
