
  <!-- Indicators -->

  <div class="carousel-inner" role="listbox">
    <div class="item active">

      <div class="container">
        <div class="carousel-caption">
          <h1>My Climate Change</h1>
          <p>Add your

            <span class="group">
            <input type="text" required>
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>location</label>
          </span>

              to know what is the status of Your climate change and get insights and data visualization to take action and help our Planet NOW!</p>
          <p><a class="btn btn-lg btn-primary" href="#" role="button">Start</a></p>
        </div>
      </div>
    </div>

  </div>
