<!-- FOOTER -->
<footer>
  <p class="pull-right"><a href="#">Back to top</a></p>
  <p>© 2016 The Colourzillas Team for <a href="#"> #Govhack</a> | <a href="https://github.com/cfranklin11/my-climate-change">This is an Open Source project! </a></p>
  <a href="#welcome">Go to top</a>
</footer>
