<!-- FOOTER -->
<footer>
  <p class="pull-right"><a href="http://getbootstrap.com/examples/carousel/#">Back to top</a></p>
  <p>© 2016 Company, Inc. · <a href="http://getbootstrap.com/examples/carousel/#">Privacy</a> · <a href="http://getbootstrap.com/examples/carousel/#">Terms</a></p>
</footer>
