<a name="ranking"></a>
<div class="row placeholders">

  <div class="col-md-12">
    <h2 class="featurette-heading center-block">How do you feel about these changes?</h2>
    <p class="lead center-block"></p>
  </div>

  <div class="col-xs-6 col-sm-3 placeholder">
    <img src="/images/1.svg" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
    <h4>This is awesome!</h4>
    <a class="twitter-share-button"
      id="twitter-awesome"
      data-size="large"
      href="https://twitter.com/intent/tweet?text=The #changes that are happening in Australia are awesome! Check them out at &url=https://auschanges.herokuapp.com">
    Tweet</a>
  </div>
  <div class="col-xs-6 col-sm-3 placeholder">
    <img src="/images/2.svg" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
    <h4>Not bad</h4>
    <a class="twitter-share-button"
      id="twitter-not-bad"
      data-size="large"
      href="https://twitter.com/intent/tweet?text=The #changes that are happening in Australia aren't too bad! Check them out at &url=https://auschanges.herokuapp.com">
    Tweet</a>
  </div>
  <div class="col-xs-6 col-sm-3 placeholder">
    <img src="/images/3.svg" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
    <h4>This isn't great</h4>
    <a class="twitter-share-button"
      id="twitter-not-great"
      data-size="large"
      href="https://twitter.com/intent/tweet?text=The #changes that are happening in Australia are not great. Check them out at &url=https://auschanges.herokuapp.com">
    Tweet</a>
  </div>
  <div class="col-xs-6 col-sm-3 placeholder">
    <img src="/images/4.svg" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
    <h4>Yikes!</h4>
    <a class="twitter-share-button"
      id="twitter-yikes"
      data-size="large"
      href="https://twitter.com/intent/tweet?text=Yikes! The #changes that are happening in Australia are not good! Check them out at &url=https://auschanges.herokuapp.com">
    Tweet</a>
  </div>
  <h4>Let others know how you feel!</h4>
</div>
