<a name="ranking"></a>
<div class="row placeholders">

  <div class="col-md-12">
    <h2 class="featurette-heading center-block">How do you feel about these changes?</h2>
    <p class="lead center-block"></p>
  </div>

  <div class="col-xs-6 col-sm-3 placeholder">
    <img src="/images/1.svg" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
    <h4>This is awesome!</h4>
  </div>
  <div class="col-xs-6 col-sm-3 placeholder">
    <img src="/images/2.svg" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
    <h4>Not bad</h4>
  </div>
  <div class="col-xs-6 col-sm-3 placeholder">
    <img src="/images/3.svg" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
    <h4>This isn't great</h4>
  </div>
  <div class="col-xs-6 col-sm-3 placeholder">
    <img src="/images/4.svg" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
    <h4>Yikes!</h4>
  </div>
  <h4>Let others know how you feel!</h4>
  <a class="twitter-share-button"
    id="twitter-button"
    data-size="large"
    href="https://twitter.com/intent/tweet?text=I'm not feeling so greate about #myclimatechange. Check it out at &url=https://myclimatechange.herokuapp.com">
  Tweet</a>
</div>
