<!-- START THE map here -->
<a name="map"></a>
<div class="row featurette ">
  <div class="col-md-12">
    <h2 class="featurette-heading center-block">How has <span class="text-muted" id="location-span">{location name}</span> changed?</h2>
    <button type="button" class="btn btn-default" id="start">Let's find out!</button>
    <p id="year-label">{category} around {city} in {year}</p>
  </div>
  <div class="col-md-12" id="leaflet-map">
  </div>
  <button type="button" class="btn btn-default" id="stop">Put time in a bottle</button>
</div>
