<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="https://npmcdn.com/leaflet@1.0.0-rc.2/dist/leaflet.css" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/twitter-widget.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
  </head>

  <body>
    <input type="text">
    <button type="button" id="coord">Coordinates</button>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <div id="map">
    </div>
    <button type="button" id="start">Start</button>
    <button type="button" id="stop">Stop</button>

    <a class="twitter-share-button"
      id="twitter-button"
      href="https://twitter.com/intent/tweet?text=I'm not feeling so greate about #myclimatechange. Check it out at &url=https://myclimatechange.herokuapp.com">
    Tweet</a>

    <script src="https://npmcdn.com/leaflet@1.0.0-rc.2/dist/leaflet.js"></script>
    <script src="/javascripts/simple-heat.js"></script>
    <script src="/javascripts/leaflet-heat.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="/javascripts/custom-map.js"></script>
  </body>
</html>
